.card .comment {
  display: flex;
}

.card img.commentAvatar {
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.5em;
}

.card .commentAuthor {
  flex-grow: 1;
  font-weight: bold;
  margin-right: 0.5em;
}

.card .commentContent {
  background: #eee;
  border-radius: 1.5em;
  flex-grow: 1;
  margin: 0.5em;
  padding: 1em;
  line-height: 1.6;
}
