.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--secondary-color);
  color: var(--primary-color-dark);
  padding: 0 32px;
  min-height: 5em;
}

.header h1.logo {
  flex-grow: 1;
  font-family: 'Facebolf', sans-serif;
  font-size: 2.2em;
  line-height: 1;
  word-spacing: 0.08em;
}

.header div.user {
  flex: none;
  max-width: 50%;
}

.header a.userName {
  cursor: pointer;
  font-weight: bold;
  margin: 1em;
}

.header img.userAvatar {
  border-radius: 50%;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
}
